<%- include('../partials/beforeheader.ejs') %>
<div class="kato-liste">
    <%- include('../partials/header.ejs') %>
 
    
    <section class="kategori">

    </section>

</div>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/scripts_kategoriliste.ejs') %>
<%- include('../partials/afterfooter.ejs') %>