<%- include('../partials/beforeheader.ejs') %>

<!-- <body class="body"> -->
<%- include('../partials/header.ejs') %>
    

    <section class="product-box"> 

    </section>
    
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scripts_products.ejs') %>
    <%- include('../partials/afterfooter.ejs') %>